<div id="loginOptionsContainer" class="view-container" style="display: none;">
    <div id="loginOptionsContent" class="modal-content">
        <h2 class="modal-title"><%- lang('loginOptions.loginOptionsTitle') %></h2>
        <p class="modal-desc" style="margin-bottom: 30px;">Choose an account type to log in.</p>
        
        <div class="modal-actions" style="flex-direction: column; gap: 15px; width: 100%;">
            <button id="loginOptionMicrosoft" class="btn-minecraft btn-green-mc" style="width: 100%;">
                <span><%- lang('loginOptions.loginWithMicrosoft') %></span>
            </button>
            <button id="loginOptionMojang" class="btn-minecraft btn-stone-mc" style="width: 100%;">
                <%- lang('loginOptions.loginWithMojang') %>
            </button>
        </div>
        
        <div id="loginOptionCancelContainer" style="margin-top: 30px; width: 100%;">
            <button id="loginOptionCancelButton" class="btn-minecraft btn-stone-mc btn-small" style="width: 100%;">
                <%- lang('loginOptions.cancelButton') %>
            </button>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>