<div id="overlayContainer" style="display: none;">
    <div id="overlayContent">
        <span id="overlayTitle"><!-- Title --></span>
        <span id="overlayDesc"><!-- Description --></span>
        <button id="overlayDismiss" class="btn-minecraft btn-stone-mc" style="display: none;"><%- lang('overlay.dismiss') %></button>
    </div>
    <script src="./assets/js/scripts/overlay.js"></script>
</div>