<div id="waitingContainer" class="view-container" style="display: none;">
    <div id="waitingContent" class="modal-content" style="background: transparent; border: none; box-shadow: none;">
        <div id="loadCSSSpinner" style="margin-bottom: 20px;"></div>
        <h2 id="waitingLabel" class="modal-title" style="letter-spacing: 2px;">Waiting...</h2>
    </div>
</div>