<div id="welcomeContainer" class="view-container" style="display: none;">
    <div id="welcomeContent" class="modal-content">
        <img id="welcomeImageSeal" src="assets/images/CSMP_logo.png" style="max-width: 120px; margin-bottom: 20px;" />
        <h2 id="welcomeHeader" class="modal-title"><%- lang('welcome.welcomeHeader') %></h2>
        <p id="welcomeDescription" class="modal-desc"><%- lang('welcome.welcomeDescription') %></p>
        <span id="welcomeDescCTA" style="font-size: 11px; color: var(--text-dark); margin-bottom: 20px; text-transform: uppercase;"><%- lang('welcome.welcomeDescCTA') %></span>
        
        <button id="welcomeButton" class="btn-minecraft btn-gold-mc">
            <span id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
            </span>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>